.todo {
  width: 1000px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: 40px;
  .todo-title {
    text-align: center;
  }
  .todo-input {
    width: 200px;
  }
  .todo-submit {
    margin-left: 10px;
  }
  .todo-list {
    margin-top: 30px;
  }
}
